<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 찾기</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"> <!-- 프리텐다드 폰트 추가 -->
    <link rel="stylesheet" href="{% static 'css/find_account.css' %}">
</head>
<body>
    <h2>회원정보 찾기</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디" required>
        <input type="email" name="email" placeholder="이메일" required>
        <button type="submit">찾기</button>
    </form>
</body>
</html>
