<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"> <!-- 프리텐다드 폰트 추가 -->
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">
</head>
<body>
    <h2>글 작성</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목" required>
        <textarea name="content" placeholder="내용" required></textarea>
        <button type="submit">작성하기</button>
    </form>
    <a href="{% url '게시판' %}">게시판으로 돌아가기</a>
</body>
</html>
