<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <header>
        <h2>{{ username }}님의 비밀번호 재설정</h2>
    </header>
    <form method="POST" action="{% url '비밀번호재설정' username=username %}">
        {% csrf_token %}
        <label for="new_password">새 비밀번호:</label>
        <input type="password" id="new_password" name="new_password" required>
        <br>
        <label for="confirm_password">비밀번호 확인:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <button type="submit">비밀번호 재설정</button>
    </form>
</body>
</html>
