<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"> <!-- 프리텐다드 폰트 추가 -->
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
</head>
<body>
    <h2>회원정보 수정</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="username">아이디:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" required>
        </div>
        <div>
            <label for="email">이메일:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}" required>
        </div>
        <div>
            <label for="new_password">새 비밀번호:</label>
            <input type="password" name="new_password" id="new_password" placeholder="새 비밀번호 (변경할 경우 입력)">
        </div>
        <button type="submit">수정하기</button>
    </form>
    <a href="{% url '마이페이지' %}">마이페이지로 돌아가기</a>
</body>
</html>
